.ipynb_checkpoints
.DS_Store
*.pyc
log.txt

metadata/keyframe-500/0*/
metadata/keyframe-500/1*/
metadata/keyframe-500/2*/
metadata/keyframe-500/3*/

metadata/objects-1152/0*/
metadata/objects-1152/1*/
metadata/objects-1152/2*/
metadata/objects-1152/3*/
